@font-face {
    font-family: GoodVibes; /* Имя шрифта */
    src: url('../fonts/GoodVibesCyr.ttf'); /* Путь к файлу со шрифтом */
}

body {
    font-family: GoodVibes, sans-serif;
    background-image: url("../image/bg.png");
}
.title {
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    -webkit-animation: fadeTitle 0.7s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: unset; /* Chrome, Safari, Opera */
    animation: fadeTitle 0.7s;
    animation-delay: unset;
}
.container {
    max-width: calc(100% - 112px);
    margin: 0 auto 0 auto;
}
.convert,
.card {
    max-width: 30vw;
    position: absolute;
}
.convert {
    left: 40%;
    transform: translateX(-50%)
                rotate(340deg);
    max-width: 50vw;
    -webkit-animation: moveConvert 0.7s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: unset; /* Chrome, Safari, Opera */
    animation: moveConvert 0.7s;
    animation-delay: unset;
}

.card {
    right: 50%;
    transform: translateX(50%);
    -webkit-animation: moveCard 0.7s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: unset; /* Chrome, Safari, Opera */
    animation: moveCard 0.7s;
    animation-delay: unset;
}

@media (max-width: 1024px) {
    .card {
        max-width: 80%;
    }
    .convert {
        max-width: 100%;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeTitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes moveConvert {
    0% {
        left: -100%;
    }
    100% {
        left: 40%;
    }
}
@keyframes moveConvert {
    0% {
        left: -100%;
    }
    100% {
        left: 40%;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes moveCard {
    0% {
        right: -100%;
    }
    100% {
        right: 50%;
    }
}
@keyframes moveCard {
    0% {
        right: -100%;
    }
    100% {
        right: 50%;
    }
}