@font-face {
    font-family: GoodVibes; /* Имя шрифта */
    src: url('../fonts/GoodVibesCyr.ttf'); /* Путь к файлу со шрифтом */
}

body {
    font-family: GoodVibes, sans-serif;
    background-image: url("../image/bg.png");
    margin: 0;
}

::selection{background-color: salmon; color: white;}
.parallax > use {
    animation: move-forever 12s linear infinite;
}
.parallax:nth-child(1){animation-delay:-2s;}
.parallax:nth-child(2){animation-delay:-2s; animation-duration:5s}
.parallax:nth-child(3){animation-delay:-4s; animation-duration:3s}

@keyframes move-forever{
    0%{transform: translate(-90px , 0%)}
    100%{transform: translate(85px , 0%)}
}

.editorial {
    display: block;
    width: 100%;
    height: 10em;
    max-height: 100vh;
    margin: 0;
}

.content {

    font-family: 'Lato',sans-serif;
    text-align: center;
    /*background-color: #2d55aa;*/
    background-color: #5e7c9b;
    min-height: 75vh;
    margin: -.1em 0 0 0;
    padding: 1em;
    color: #eee;
    font-size: 2em;
    font-weight: 300;
    max-width: 100%;
}
.content{font-size: 1em;}

.content h1 {
    margin-top:-1.3em;
    font-weight: 100;
    font-size: 5em;
    user-select:none;
    cursor: default;
}

/*prevent many large-by-comparison ripples by shrinking the height*/
@media (max-width:50em){
    .content h1{font-size: 12vmax}
    .editorial{height:17vw;}
}

h1{outline:none}

/*body{background-color:#234}*/


.title {
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    -webkit-animation: fadeTitle 0.7s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: unset; /* Chrome, Safari, Opera */
    animation: fadeTitle 0.7s;
    animation-delay: unset;
    margin-top: 24px     ;
}
.container {
    max-width: calc(100% - 112px);
    margin: 0 auto 0 auto;
}
.convert,
.card {
    max-width: 30vw;
    position: absolute;
}
.convert {
    left: 40%;
    transform: translateX(-50%)
                rotate(340deg);
    max-width: 50vw;
    -webkit-animation: moveConvert 0.7s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: unset; /* Chrome, Safari, Opera */
    animation: moveConvert 0.7s;
    animation-delay: unset;
}

.card {
    right: 50%;
    transform: translateX(50%);
    -webkit-animation: moveCard 0.7s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: unset; /* Chrome, Safari, Opera */
    animation: moveCard 0.7s;
    animation-delay: unset;
}

@media (max-width: 1024px) {
    .card {
        max-width: 80%;
    }
    .convert {
        max-width: 100%;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeTitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes moveConvert {
    0% {
        left: -100%;
    }
    100% {
        left: 40%;
    }
}
@keyframes moveConvert {
    0% {
        left: -100%;
    }
    100% {
        left: 40%;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes moveCard {
    0% {
        right: -100%;
    }
    100% {
        right: 50%;
    }
}
@keyframes moveCard {
    0% {
        right: -100%;
    }
    100% {
        right: 50%;
    }
}